.idea
logs/*.log
/media
/static/node_modules

## private files ##
#/tmp
#/tmp/!.gitkeep







# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
