3rd_party
*.log
.idea
logs
/pickle_check
/Images
/media
/static/node_modules

/tmp/db_data.json
/tmp/mail_data.json
/tmp/db_data_open_db.json
/tmp/db_config.txt
/tmp/faculty_names_and_numbers.json
/tmp/label_to_param_name.json
/tmp/department_enums.txt
