# private resources
db.sqlite3
db_data.json
mail_data.json
db_data_open_db.json
db_config.txt
3rd_party
*.log
.idea
faculty_names_and_numbers.json
label_to_param_name.json
department_enums.txt
logs
/pickle_check
