aiohttp==3.7.4.post0
amply==0.1.4
asgiref==3.3.4
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
boto3==1.18.8
botocore==1.21.8
bs4==0.0.1
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
codetiming==1.3.0
colorama==0.4.3
configparser==5.0.1
crayons==0.4.0
decorator==4.4.2
Django==3.2
django-admin-multiple-choice-list-filter==0.1.1
django-crispy-forms==1.11.2
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-model-utils==4.1.1
django-polymorphic==3.0.0
django-storages==1.11.1
django-user-agents==0.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
dnspython==2.1.0
docutils==0.16
email-validator==1.1.2
Flask==1.1.2
Flask-Cors==3.0.10
future==0.16.0
gekko==0.2.8
gunicorn==20.1.0
idna==2.10
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.6.3
mapper==0.1.17
Markdown==3.3.4
MarkupSafe==1.1.1
mongoengine==0.22.1
multidict==5.1.0
mysqlclient==2.0.3
numpy==1.20.2
parso==0.8.1
pathspec==0.5.9
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.9
Pygments==2.7.3
pymongo==3.12.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.4
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.5.0
selenium==3.141.0
semantic-version==2.8.5
six==1.14.0
soupsieve==2.1
sqlparse==0.4.1
termcolor==1.1.0
traitlets==5.0.5
typing-extensions==3.7.4.3
ua-parser==0.10.0
urllib3==1.25.11
user-agents==2.2.0
wcwidth==0.1.9
webdriver-manager==3.4.0
Werkzeug==1.0.1
whitenoise==5.3.0
yarl==1.6.3
