.class_btn {
    float: right;
    background: rgba(255, 255, 255, 0.8);
    border-color: rgb(214, 97, 97);
    color: rgb(214, 97, 97);
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1%;
}

.class_btn:hover {
    background: rgb(214, 97, 97);
    color: white !important;
}

.class_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
    background: rgb(214, 97, 97);
    color: white !important;
}

.send_btn {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(198, 30, 30, 0.7);
    color: rgba(198, 30, 30, 0.7);
}

.send_btn:hover {
    background: rgba(198, 30, 30, 0.7);
    color: white !important;
}

.send_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
