container_commands:
  00_print_cwd:
    command: "pwd"
    leader_only: true
  01_collectstatic:
    command: "source var/app/venv/bin/activate && mkdir var/app/current/www/static && python var/app/current/manage.py collectstatic --noinput"
    leader_only: true
  02_install_node_modules:
    command: "npm install var/app/current/www/static --prefix var/app/current/www/static"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "plan_ilan.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: plan_ilan.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: www/static
    /media/: www/media
