container_commands:
  01_migrate:
    command: "source ../venv/staging-LQM1lest/bin/activate && python manage.py migrate"
  02_collectstatic:
    command: "source ../venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  03_populate_staff:
    command: "source ../venv/staging-LQM1lest/bin/activate && python manage.py populate_staff"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "plan_ilan.settings"
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: plan_ilan.wsgi:application
    NumProcesses: 3
    NumThreads: 20
