{% extends 'PlanIlan/base.html' %}
{% block title %}דף הבית{% endblock %}

{% block content %}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <h1>ברוכים הבאים לאתר הסטודנטים של בר-אילן</h1>
    <!-- Button trigger modal -->
    <div id="teachers">
        {% for t in teachers %}
            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#teachers-{{ forloop.counter0 }}">
                {{ t.title_and_name }}
            </button>
        {% endfor %}

    </div>
    {% for t in teachers %}
        <!-- Modal -->
        <div class="modal fade" id="teachers-{{ forloop.counter0 }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ t.name }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    {% for c in courses %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ c.translate }}">
            {{ c.name }}
        </button>

        <!-- Modal -->
        <div class="modal fade" id="{{ c.translate }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ c.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                שמ/ות המרצה/ים: {{ c.teachers }}
                            </li>
                            <li>
                                קוד: {{ c.code }}
                            </li>
                            <li>
                                gdf
                            </li>
                            <li>
                                bfbf
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container">
        <form method="get">
            {% csrf_token %}
            {{ course_filter.form }}
            <button class="btn btn-primary" type="submit">חפש</button>
        </form>
    </div>
    <table class="table table-sm">
        <tr>
            <th>Name</th>
            <th>Code</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.code }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}