{% extends 'PlanIlan/base.html' %}
{% block title %}שחזור סיסמא{% endblock %}
{% block content %}
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .bg_image {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url("/../../static/PlanIlan/images/red-and-white-background-login.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }

        .logo_image {
            position: relative;
            opacity: 1;
            display: block;
            width: 40%;
            height: 40%;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .user_card {
            width: 350px;
            margin-top: auto;
            margin-bottom: auto;
            background: rgba(255, 255, 255, 0.5);
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }

        .form_container {
            margin-top: 20px;
        }

        #form-title {
            color: #fff;
        }

        .submit_btn {
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            border-color: rgba(198, 30, 30, 0.7);
            color: rgba(198, 30, 30, 0.7);
        }

        .submit_btn:hover {
            background: rgba(198, 30, 30, 0.7);
            color: white !important;
        }

        .submit_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: rgba(198, 30, 30, 0.7);
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    </style>
<div class="bg_image"></div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <img src="/../../static/PlanIlan/images/logo.png" class="logo_image"/>
                </div>
                <div class="d-flex justify-content-center">
                    <h3 style="text-align: center">!המייל נשלח בהצלחה</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p style="text-align: center">ברגעים אלו נשלח אלייך מייל מטעמינו לתיבת הדואר, עם קישור לשיחזור הסיסמא</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}