{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'timetable_generator/css/collapse_style.css' %}">
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'timetable_generator/js/collapsible.js' %}" defer></script>
{% endblock %}
<title>{% block title %}בנה מערכת שעות{% endblock %}</title>
{% block content %}
    <div class="container">

    </div>
{% endblock %}