{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
{% endblock %}
<title>{% block title %}בנה מערכת שעות{% endblock %}</title>
{% block content %}
    {% if solutions %}
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for solution in solutions %}
                    <button class="nav-link {% if forloop.first %}active{% endif %}"
                            id="solution{{ forloop.counter }}tab"
                            data-bs-toggle="pill" data-bs-target="#solution{{ forloop.counter }}content" role="tab"
                            aria-controls="solution{{ forloop.counter }}content" type="button"
                            aria-selected="{% if forloop.first %} true {% else %} false {% endif %}">{{ solution.display_name }}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            {% for solution in solutions %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                     id="solution{{ forloop.counter }}content"
                     role="tabpanel" aria-labelledby="solution{{ forloop.counter }}tab">
                    <p class="lead"><u>{{ solution.display_name }}</u></p>
                    <p>ציון: {{ solution.score }}</p>
                    <div class="container">
                        <ul>
                            {% for var in solution_dict %}
                                {{ var|unordered_list }}
                                {#                            <li>{{ day }}:#}
                                {#                                <ul>#}
                                {#                                    {% for hour,lesson in hours.item %}#}
                                {#                                        <li>{{ hour }}:{{ lesson.code_and_group }} - {{ lesson.name }}</li>#}
                                {#                                    {% endfor %}#}
                                {#                                </ul>#}
                                {#                            </li>#}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>מצטערים יא קאקר אין פתרון למערכת שעות שלך</p>
        <button>בוא ננסה שוב</button>
    {% endif %}
{% endblock %}
