{% extends 'plan_ilan/base.html' %}
{% load widget_tweaks %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plan_ilan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'timetable_generator/css/timetable_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'timetable_generator/js/first_form.js' %}" defer></script>
{% endblock %}
{% block title %}בנה מערכת שעות{% endblock %}
{% block content %}
    {% load static %}
    <div class="bg_image"></div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <h1>ברוכים הבאים לבניית מערכת שעות של plan-ilan</h1>
                <h2>לפניכם 4 שלבים לבניית מערכת שעות אישית</h2>
                <h2>תחילה יש למלא פרטים ראשוניים</h2>
                <form method="POST" class="form">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-cog fa-2x"></i></span>
                            </div>
                            {{ field }}
                        </div>
                    {% endfor %}
                    {{ blocked_times_formset.management_form }}
                    {% for form in blocked_times_formset %}
                        <div class="input-group mb-2" id="formset">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-cog fa-2x"></i></span>
                            </div>
                            {% for field in form.visible_fields %}
                                {{ field }}
                            {% endfor %}
                            <button type="button" onclick="deleteForm(this)"
                                    class="align-self-center btn btn-danger delete-image-form">מחק שורה
                            </button>
                        </div>
                    {% endfor %}
                    <button id="add-form" type="button">הוסף עוד זמנים</button>
                    <button class="btn btn-light" type="submit"><b>הבא</b></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
