{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'timetable_generator/css/collapse_style.css' %}">
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'timetable_generator/js/collapsible.js' %}" defer></script>
{% endblock %}
<title>{% block title %}בנה מערכת שעות{% endblock %}</title>
{% block content %}
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %}
            <h2>בחר שיעורי חובה</h2>
            <p>כל הקורסים שבחרת מהעמוד הקודם נמצאים כאן, כאשר תחת כל שיעור ישנם כל המופעים שלו. כברירת מחדל, כל השיעורים
                מסומנים. במידה ולא תרצה פתרון שיכיל שיעור מסוים, אנא הורד ממנו את הסימון.</p>
            <div class="accordion">
                {% for course in mandatory_courses %}
                    <button type="button" class="collapsible">{{ course.name }} - {{ course.code }}</button>
                    <div class="content">
                        {% regroup course.lessons.all by lesson_type as grouped_lessons %}
                        {% for lesson_group in grouped_lessons %}
                            <p class="lead"><u>{{ lesson_group.grouper }}</u></p>
                            {% for lesson in lesson_group.list %}
                                <label for="check_{{ lesson.code_and_group }}">
                                    <input type="checkbox" id="check_{{ lesson.code_and_group }}"
                                           value="{{ lesson.pk }}"
                                           name="mandatory-lessons" checked>
                                    מורה:
                                    {{ lesson.teacher }}
                                    <label><u>זמני השיעור:</u></label>
                                    {% for time in lesson.session_times.all %}
                                        יום:
                                        {{ time.day }}
                                        , בין השעות:
                                        {{ time.start_time }}
                                        ל:
                                        {{ time.end_time }}
                                    {% endfor %}
                                </label>
                                <label for="quantity">, דרג את החשיבות (כל מספר שתבחר):</label>
                                <input type="number" name="rank-mandatory-lesson" class="quantity" min="" max=""
                                       value="1">
                                <br>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
                {% if elective_courses %}
                    <h2>בחר שיעורי בחירה</h2>
                    <br>
                    <div class="accordion">
                        {% for course in elective_courses %}
                            <button type="button" class="collapsible">{{ course.name }} - {{ course.code }}</button>
                            <div class="content">
                                {% regroup course.lessons.all by lesson_type as grouped_lessons %}
                                {% for lesson_group in grouped_lessons %}
                                    <p class="lead"><u>{{ lesson_group.grouper }}</u></p>
                                    {% for lesson in lesson_group.list %}
                                        <label for="check_{{ lesson.code_and_group }}">
                                            <input type="checkbox" id="check_{{ lesson.code_and_group }}"
                                                   value="{{ lesson.pk }}"
                                                   name="elective-lessons" checked>
                                            מורה:
                                            {{ lesson.teacher }}
                                            <label><u>זמני השיעור:</u></label>
                                            {% for time in lesson.session_times.all %}
                                                יום:
                                                {{ time.day }}
                                                , בין השעות:
                                                {{ time.start_time }}
                                                ל:
                                                {{ time.end_time }}
                                            {% endfor %}
                                        </label>
                                        <label for="quantity">, דרג את החשיבות (כל מספר שתבחר):</label>
                                        <input type="number" name="rank-elective-lesson" class="quantity" min="" max=""
                                               value="1">
                                        <br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <br>
                    </div>
                {% endif %}
                <a class="btn login_btn" type="submit" href="{% url 'pick-courses' %}">הקודם</a>
                <input class="btn login_btn" type="submit" value="הבא">
            </div>
        </form>
    </div>
    <br>
{% endblock %}
