{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'timetable_generator/css/collapse_style.css' %}">
    <link rel="stylesheet" href="{% static 'timetable_generator/css/timetable_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'timetable_generator/js/collapsible.js' %}" defer></script>
{% endblock %}
{% block title %}בנה מערכת שעות{% endblock %}
{% block content %}
    {% load static %}
    <div class="bg_image"></div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                {% if messages %}
                    <script>
                        alert("יש לבחור לפחות מחלקה אחת לקורסי חובה")
                    </script>
                {% endif %}
                <h1 class="display-3" style="text-align: center"><b>כעת יש לבחור מחלקות שאתם מעוניינים שיהיו במערכת שעות
                    שלכם</b></h1>
                <form method="post" class="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col" style="width: 50%">
                            <h2 style="text-align: center"><u>מחלקות לקורסי חובה</u></h2>
                            {#                            {{ mandatory_form.as_p }}#}
                            {% for field in mandatory_form.visible_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <div class="col" style="width: 50%">
                            <h2 style="text-align: center"><u>מחלקות לקורסי חובה</u></h2>
                            {#                            {{ elective_form.as_p }}#}
                            {% for field in elective_form.visible_fields %}
                                {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col align-self-center">
                            <a class="btn btn-light" type="submit" href="{% url 'first-form' %}"><b>הקודם</b></a>
                            <button class="btn btn-light" type="submit"><b>הבא</b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
