{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
{% endblock %}
{% block title %}בנה מערכת שעות{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form">
            <div class="row">
                {% csrf_token %}
                <div class="col-6">
                    <h2>בחר קורסי חובה</h2>
                    <br>
                    {% regroup course_mandatory by department as mandatory_courses %}
                    {% for course_group in mandatory_courses %}
                        <p class="lead h5"><u>{{ course_group.grouper }}</u></p>
                        <br>
                        {% for course in course_group.list %}
                            <label for="{{ course.code }}">
                                <input type="checkbox" id="{{ course.code }}" value="{{ course.code }}" name="mandatory">
                                {{ course }}
                            </label>
                            <br>
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <br>
                </div>
                <div class="col-6">
                    <h2>בחר קורסי בחירה</h2>
                    <br>
                    {% regroup course_elective by department as elective_courses %}
                    {% for course_group in elective_courses %}
                        <p class="lead h5"><u>{{ course_group.grouper }}</u></p>
                        <br>
                        {% for course in course_group.list %}
                            <label for="{{ course.code }}">
                                <input type="checkbox" id="{{ course.code }}" value="{{ course.code }}" name="elective">
                                {{ course }}
                            </label>
                            <br>
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col align-self-center">
                    <a class="btn login_btn" type="submit" href="{% url 'pick-deps' %}">הקודם</a>
                    <input class="btn login_btn" type="submit" value="הבא" formmethod="POST">
                </div>
            </div>
        </form>
    </div>
    <br>
{% endblock %}
