{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'timetable_generator/css/collapse_style.css' %}">
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'timetable_generator/js/collapsible.js' %}" defer></script>
{% endblock %}
{% block title %}בנה מערכת שעות{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <p class="display-4 lead">בחר מחלקות לקורסי חובה</p>
                    {{ mandatory_form.as_p }}
                </div>
                <div class="col-6">
                    <p class="display-4 lead">בחר מחלקות לקורסי בחירה</p>
                    {{ elective_form.as_p }}
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col align-self-center">
                    <a class="btn login_btn" type="submit" href="{% url 'first-form' %}">הקודם</a>
                    <button class="btn btn-primary" type="submit">הבא</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
