.column {
    float: left;
    width: 33.33%;
    padding: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0 10px 5px grey;
    text-align: center;
}

.liked {
    float: left;
    padding: 0;
    position: center;
}

.trash {
    float: left;
    position: absolute;
}



