{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan_ilan/css/about_style.css' %}"/>
{% endblock %}
{% block js_block %}

{% endblock %}
{% block title %}אודות{% endblock %}
{% block content %}
    {% load static %}
    <div class="about-section">
        <h1><b>הפרויקט שלנו</b></h1>
        <p>במסגרת סדנת פרוייקטים בבר אילן, חשבנו על הפרויקט Plan-Ilan בו אנו מציעים שירות לסטודנטים לקראת שנת הלימודים
            הקרובה.</p>
        <p>כסטודנטים בבר אילן, אנו מכירים את הקושי במציאת פרטים על קורסים והמלצות עליהם. כתוצאה מכך מרבית הסטודנטים
            מתקשים לבנות מערכת שעות מספקת.</p>
        <p>האתר plan-Ilan מספק מידע על קורסים ועל סגל בבר אילן. באמצעות תגובות ודירוג המשתמשים, הסטודנט יכול לבחור
            קורסים מומלצים או קורסים של מרצים מומלצים. לאחר בחירת הקורסים, האתר בונה לו מערכת שעות.</p>
        <p>כתוצאה מכך, הסטודנט יותר מוכן ורגוע לקראת מועד בניית המערכת שלו באינבר.</p>
    </div>

    <h2 style="text-align:center"><b>~ הצוות שלנו ~</b></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/matan.jpg' %}" alt="Matan" class="profile_image"
                     style="width:100%"/>
                <div class="container">
                    <h2 class="name">מתן מלכה</h2>
                    <p class="title">Backend Developer & DB Designer</p>
                    <p>סטודנט שנה ג' באוניברסיטת בר אילן. עובד משרת סטודנט בחברת Cisco</p>
                    <p>שם הכלב: קפטן</p>
                    <p class="email">matanmlk@gmail.com</p>
                    {#                    <p>#}
                    {#                        <button class="button">Contact</button>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/yana.jpeg' %}" alt="Yana" class="profile_image"
                     style="width:100%"/>
                <div class="container">
                    <h2 class="name">יאנה מולודצקי</h2>
                    <p class="title">Full Stack Developer</p>
                    <p>סטודנטית שנה ג' באוניברסיטת בר אילן. עובדת משרת סטודנט בחברת Toga Networks</p>
                    <p>שם הכלב: ריקו</p>
                    <p class="email">yanamolo96@gmail.com</p>
                    {#                    <p>#}
                    {#                        <button class="button">Contact</button>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/sapir.jpeg' %}" alt="Sapir" class="profile_image"
                     style="width:100%"/>
                <div class="container">
                    <h2 class="name">ספיר גראפי</h2>
                    <p class="title">Frontend Developer & UI x UX Designer</p>
                    <p>סטודנטית שנה ג' באוניברסיטת בר אילן. עובדת משרת סטודנט בחברת Radeware</p>
                    <p>שם הכלבה: אמה</p>
                    <p class="email">sapirg50@gmail.com</p>
                    {#                    <p>#}
                    {#                        <button class="button">Contact</button>#}
                    {#                    </p>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
