{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan_ilan/css/about_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'node_modules/simple-line-icons/css/simple-line-icons.css' %}"/>
{% endblock %}
{% block title %}אודות{% endblock %}
{% block content %}
    {% load static %}
    <div class="about-section">
        <h1><b>הפרויקט שלנו</b></h1>
        <p>במסגרת סדנת פרוייקטים בבר אילן, חשבנו על הפרויקט Plan-Ilan בו אנו מציעים שירות לסטודנטים לקראת שנת הלימודים
            הקרובה.</p>
        <p>כסטודנטים בבר אילן, אנו מכירים את הקושי במציאת פרטים על קורסים והמלצות עליהם. כתוצאה מכך מרבית הסטודנטים
            מתקשים לבנות מערכת שעות מספקת.</p>
        <p>האתר plan-Ilan מספק מידע על קורסים ועל סגל בבר אילן. באמצעות תגובות ודירוג המשתמשים, הסטודנט יכול לבחור
            קורסים מומלצים או קורסים של מרצים מומלצים. לאחר בחירת הקורסים, האתר בונה לו מערכת שעות.</p>
        <p>כתוצאה מכך, הסטודנט יותר מוכן ורגוע לקראת מועד בניית המערכת שלו באינבר.</p>
    </div>

    <h2 style="text-align:center"><b>~ הצוות שלנו ~</b></h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/matan.jpg' %}" alt="Matan" class="profile_image"
                     style="width:100%"/>
                <div class="container team4">
                    <h2 class="name">מתן מלכה</h2>
                    <p class="title subtitle">Backend Developer & DB Designer</p>
                    <p>סטודנט שנה ג' באוניברסיטת בר אילן. עובד משרת סטודנט בחברת Cisco</p>
                    <p>שם הכלב: קפטן</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/mkl1888" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/matanmkl/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/matan-malka/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="mailto:matanmkl@gmail.com?Subject=About your project"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/yana.jpeg' %}" alt="Yana" class="profile_image"
                     style="width:100%"/>
                <div class="container team4">
                    <h2 class="name">יאנה מולודצקי</h2>
                    <p class="title subtitle">Full Stack Developer</p>
                    <p>סטודנטית שנה ג' באוניברסיטת בר אילן. עובדת משרת סטודנט בחברת Toga Networks</p>
                    <p>שם הכלב: ריקו</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/yana.molodetsky" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/yanamolo135/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/yana-molodetsky-5945a919b/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="mailto:yanamolo96@gmail.com?Subject=About your project"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="{% static 'plan_ilan/images/sapir.jpeg' %}" alt="Sapir" class="profile_image"
                     style="width:100%"/>
                <div class="container team4">
                    <h2 class="name">ספיר גראפי</h2>
                    <p class="title subtitle">Frontend Developer & UI x UX Designer</p>
                    <p>סטודנטית שנה ג' באוניברסיטת בר אילן. עובדת משרת סטודנט בחברת Radeware</p>
                    <p>שם הכלבה: אמה</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com/sapir.graffi" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/sapirgraffi/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sapir-graffi/" target="_blank"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-social-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="mailto:sapirg50@gmail.com?Subject=About your project"
                                                        class="text-decoration-none d-block px-1"><i
                                class="icon-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
