{% load static %}
<!doctype html>
<html lang="he" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    {#todo: necessary?#}
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link href="{% static 'node_modules/mdb-ui-kit/css/mdb.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plan_ilan/css/navbar_style.css' %}"/>
    {% block css_block %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/mdb-ui-kit/js/mdb.min.js' %}"></script>

    {% block js_block %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar" style="padding: 1%">
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <a class="dis" href="#" tabindex="-1" aria-disabled="true">
            שלום&nbsp;
        </a>
        <a class="dis" href="#" tabindex="-1" aria-disabled="true">
            {% if user.is_authenticated %}
                {{ request.user.account }},
            {% else %}
                אורח,
            {% endif %}
        </a>
        {% if user.is_authenticated %}
            <a class="act" href="{% url 'logout' %}">&nbspהתנתק</a>
        {% else %}
            <a class="act" href="{% url 'login' %}">&nbspהתחבר</a>
        {% endif %}
        <a class="act" aria-current="page" href="{% url 'home' %}">דף הבית </a>
        <a class="act" aria-current="page" href="{% url 'search' %}">חיפוש</a>
        {% if user.is_authenticated %}
            <a class="act" aria-current="page" href="{% url 'landing-page' %}">ניהול מערכת שעות</a>
        {% endif %}
        <a class="act" aria-current="page" href="{% url 'about' %}">אודות</a>
    </div>
    <div class="logo-navbar">
        <img src="{% static 'plan_ilan/images/logo.png' %}" class="logo-navbar-img"/>
    </div>
</nav>
<div class="container" style="height: 90%">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
