{% load static %}
<!doctype html>
<html lang="he" dir="auto">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/mdb-ui-kit/css/mdb.rtl.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plan_ilan/css/navbar_style.css' %}"/>
    <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/mdb-ui-kit/js/mdb.min.js' %}"></script>
    {% block css_block %}
    {% endblock %}
    {% block js_block %}
    {% endblock %}
    <title>{% block title %}דף הבית{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        שלום
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        {% if user.is_authenticated %}
                            {{ request.user }}
                        {% else %}
                            אורח
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link active" href="{% url 'logout' %}">התנתק</a>
                    {% else %}
                        <a class="nav-link active" href="{% url 'login' %}">התחבר</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">דף הבית</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'search' %}">חיפוש</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'timetable' %}">בנה מערכת שעות</a>
                    </li>
                {% endif %}
            </ul>
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"#}
{#                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarNav" style="height: 30%">#}
{#            #}
{#        </div>#}
    </div>
</nav>
<div class="container" style="height: 90%">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
