{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan_ilan/css/teacher_and_course_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/likes_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free' %}">
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/rating_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/edit_comment_modal.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript" src="{% static 'plan_ilan/js/comment_likes.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/open_close_edit_modal.js' %}"></script>
{% endblock %}
{% block title %}פרטי קורס{% endblock %}
{% block content %}
    <div class="column">
        <div class="card">
            <div class="card-body">
                <h1 class="title"><b>{{ course.name }}</b></h1>
                <div class="list-group-flush">
                    <div class="list-group-item">
                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                class="fas fa-key fa-2x"
                                aria-hidden="true"></i></span>
                            &nbsp<strong>קוד:</strong> {{ course.code }}
                        </p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                class="fas fa-city fa-2x"
                                aria-hidden="true"></i></span>
                            &nbsp<strong>פקולטה:</strong> {{ course.faculty }}
                        </p>
                    </div>
                    <div class="list-group-item">
                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                class="fas fa-university fa-2x"
                                aria-hidden="true"></i></span>
                            &nbsp<strong>מחלקה:</strong> {{ course.department }}
                        </p>
                    </div>
                    {% for lesson in lessons %}
                        <div class="list-group-item" style="height: fit-content">
                            <p data-bs-toggle="collapse" href="#lesson_{{ lesson.group }}" role="button"
                               aria-expanded="false"
                               aria-controls="lesson_{{ lesson.group }}"><span class="btn-group icon"
                                                                               style="padding: 3px"><i
                                    class="fas fa-users fa-2x"
                                    aria-hidden="true"></i></span>
                                &nbsp<strong> שיעור מס' {{ lesson.group }}</strong>
                            </p>
                            {#                            <p>#}
                            {#                                <a data-bs-toggle="collapse" href="#lesson_{{ lesson.group }}" role="button"#}
                            {#                                   aria-expanded="false"#}
                            {#                                   aria-controls="lesson_{{ lesson.group }}">#}
                            {#                                    שיעור מס' {{ lesson.group }}#}
                            {#                                </a>#}
                            {#                            </p>#}
                            <div class="collapse" id="lesson_{{ lesson.group }}" style="position: relative">
                                <div class="list-group-flush">
                                    <div class="list-group-item">
                                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px; background: black"><i
                                                class="fas fa-question fa-1x"
                                                aria-hidden="true"></i></span>
                                            &nbsp<strong>סוג מפגש:</strong> {{ lesson.type }}
                                        </p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px; background: black"><i
                                                class="fas fa-hand-point-up fa-1x"
                                                aria-hidden="true"></i></span>
                                            &nbsp<strong>נ"ז:</strong> {{ lesson.points }}
                                        </p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px; background: black"><i
                                                class="fas fa-chalkboard-teacher fa-1x"
                                                aria-hidden="true"></i></span>
                                            {% if lesson.teachers.0 > 1 %}
                                                &nbsp<strong>מרצים:</strong> {{ lesson.teachers.1 }}
                                            {% elif lesson.teachers.0 == 1 %}
                                                &nbsp<strong>מרצה:</strong> {{ lesson.teachers.1 }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px; background: black"><i
                                                class="fas fa-map-marked-alt fa-1x"
                                                aria-hidden="true"></i></span>
                                            &nbsp<strong>מיקום:</strong> {{ lesson.locations }}
                                        </p>
                                    </div>
                                    <div class="list-group-item">
                                        <p class="mb-0"><span class="btn-group icon" style="padding: 3px; background: black"><i
                                                class="fas fa-calendar-alt fa-1x"
                                                aria-hidden="true"></i></span>
                                            &nbsp<strong>זמני המפגש:</strong> {{ lesson.session }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if course_exams|length > 0 %}
                        <div class="list-group-item">
                            <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                    class="fas fa-book-open fa-2x"
                                    aria-hidden="true"></i></span>
                                &nbsp<strong>בחינה:</strong> {{ course_exams }}
                            </p>
                        </div>
                    {% endif %}
                    {% if course.syllabus_link %}
                        <div class="list-group-item">
                            <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                    class="fas fa-globe fa-2x"
                                    aria-hidden="true"></i></span>
                                &nbsp<strong>סילבוס:</strong>&nbsp<a href={{ course.syllabus_link }}>לחצו כאן</a>
                            </p>
                        </div>
                    {% endif %}
                    {% if course.average_rating %}
                        <div class="list-group-item">
                            <p class="mb-0"><span class="btn-group icon" style="padding: 3px"><i
                                    class="fas fa-star fa-2x"
                                    aria-hidden="true"></i></span>
                                &nbsp<strong>דירוג ממוצע:</strong> {{ course.average_rating }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="list-group-item">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row mb-2">
            <div class="card-comment">
                <h1 class="tab-title"><b>תגובות על הקורס</b></h1>
                <div class="scrollbar scrollbar-primary" style="height: 86%; padding: 0">
                    <ul class="list-group list-group-flush">
                        {% for review in course_reviews %}
                            <li class="list-group-item">
                                {% if review.author.first_name %}
                                    <a class="float-left"><strong>{{ review.author.first_name }}</strong></a>
                                {% else %}
                                    <a class="float-left"><strong>{{ review.author }}</strong></a>
                                {% endif %}
                                {% for rating in course_rating %}
                                    {% ifequal rating.user review.author %}
                                        {% with ''|center:rating.value as range %}
                                            {% for _ in range %}
                                                <span class="float-right"><i
                                                        class="text-warning fa fa-star"></i></span>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endifequal %}
                                {% endfor %}
                                <h4><strong>{{ review.headline }}</strong></h4>
                                <p>{{ review.text }}</p>
                                {% if request.user.is_authenticated %}
                                    <div class="action">
                                        {% ifequal request.user review.author.user %}
                                            <button type="button" id="delete_{{ review.id }}"
                                                    onclick="delete_comment(this)" class="btn-trash btn-xs" title="מחק">
                                                <span class="glyphicon glyphicon-trash">
                                                    <i class="fas fa-trash"></i></span>
                                            </button>
                                            <button type="button" class="btn-edit btn-xs" title="ערוך"
                                                    id="btn_{{ review.id }}" onclick="openRateModal(this)">
                                                <span class="glyphicon glyphicon-pencil">
                                                    <i class="fas fa-pen"></i></span>
                                            </button>
                                        {% endifequal %}
                                        <button type="button" class="btn-like btn-xs" id="heart_course_{{ review.id }}"
                                                name="heart-like" onclick="changeHeart(this)"
                                                title="אהבתי">
                                            <span class="glyphicon glyphicon-ok"><i class="fas fa-thumbs-up"></i></span>
                                        </button>
                                        <p class="liked" id="amount_{{ review.id }}"
                                           style="color: #0c56d0; padding: 0 5px">{{ review.amount_of_likes }}
                                            אנשים
                                            אהבו את זה</p>
                                    </div>
                                {% endif %}
                            </li>
                            <div id="rateModal_{{ review.id }}" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                            <span class="close" id="closeRate_{{ review.id }}"
                                  onclick="closeRateModal(this)">&times;</span>
                                    <div>
                                        <form class="rate-form" method="post">
                                            {% csrf_token %}
                                            <label for="headline_{{ review.id }}">כותרת:
                                                <input type="text" id="headline_{{ review.id }}">
                                            </label>
                                            <br>
                                            <label for="commentArea">הוסף תגובה:</label>
                                            <textarea class="form-control" id="commentArea_{{ review.id }}"
                                                      rows="3"></textarea>
                                            <br>
                                            <label>דרג:</label>
                                            <div>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="first-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="second-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="third-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fourth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fifth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                            </div>
                                            <br>
                                            <button id="course_edit_{{ review.id }}" class="btn btn-outline-primary"
                                                    onclick="sendData(this)">שלח!
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-comment">
                <h1 class="tab-title"><b>הוספת תגובה</b></h1>
                {% if request.user in users_rated %}
                    <p>
                        אין אפשרות להוסיף תגובה נוספת.
                        ניתן לערוך את תגובתך הקיימת.
                    </p>
                {% elif not request.user.is_authenticated %}
                    <p>
                        על מנת להשאיר תגובה, עליך להרשם לאתר.
                    </p>
                {% else %}
                    <form class="rate-form" method="post">
                        {% csrf_token %}
                        <label for="headline_{{ course.code }}">
                            <input class="form-control" type="text" placeholder="כותרת..."
                                   id="headline_{{ course.code }}">
                        </label>
                        <br>
                        <label for="commentArea" style="padding: 1%">
                            <textarea class="form-control" id="commentArea_{{ course.code }}" placeholder="תוכן..."
                                      rows="3"></textarea>
                        </label>
                        <div id="star_ratings">
                            <button type="submit" class="fa fa-star fa-2x star-btn" id="first-star_{{ t.id }}"
                                    onmouseover="changeStar(this)"></button>
                            <button type="submit" class="fa fa-star fa-2x star-btn" id="second-star_{{ t.id }}"
                                    onmouseover="changeStar(this)"></button>
                            <button type="submit" class="fa fa-star fa-2x star-btn" id="third-star_{{ t.id }}"
                                    onmouseover="changeStar(this)"></button>
                            <button type="submit" class="fa fa-star fa-2x star-btn" id="fourth-star_{{ t.id }}"
                                    onmouseover="changeStar(this)"></button>
                            <button type="submit" class="fa fa-star fa-2x star-btn" id="fifth-star_{{ t.id }}"
                                    onmouseover="changeStar(this)"></button>
                        </div>
                        <button id="course_review_{{ course.code }}" class="btn send_btn"
                                onclick="sendData(this)">שלח
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>


    {#        {% for rate in coure_rating %}#}
    {#            {{ rate.id }}#}
    {#        {% endfor %}#}
    {#    <br>#}
    {#    {% for review in course_reviews %}#}
    {#        {{ review.id }}#}
    {#    {% endfor %}#}
    {#    <br>#}
    {#    {{ users_rated }}#}
    {#    <br>#}
    {#    {{ lessons }}#}
    {#    <br>#}
    {#    {{ teacher_list }}#}




    {#        <p>#}
    {#            <a class="btn btn-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"#}
    {#               aria-controls="collapseExample">#}
    {#                Link with href#}
    {#            </a>#}
    {#            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"#}
    {#                    aria-expanded="false" aria-controls="collapseExample">#}
    {#                Button with data-bs-target#}
    {#            </button>#}
    {#        </p>#}
    {#        <div class="collapse" id="collapseExample">#}
    {#            <div class="card card-body">#}
    {#                Some placeholder content for the collapse component.#}
    {#            </div>#}
    {#        </div>#}
{% endblock %}