{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan_ilan/css/teacher_and_course_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/likes_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free' %}">
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/rating_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/edit_comment_modal.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript" src="{% static 'plan_ilan/js/comment_likes.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/open_close_edit_modal.js' %}"></script>
{% endblock %}
{% block title %}פרטי קורס{% endblock %}
{% block content %}
    {{ course }}
    <br>
    {% for rate in coure_rating %}
        {{ rate.id }}
    {% endfor %}
    <br>
    {% for review in course_reviews %}
        {{ review.id }}
    {% endfor %}
    <br>
    {{ users_rated }}
    <br>
    {{ lessons }}
    <br>
    {{ teacher_list }}
{% endblock %}