{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/rating_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/teacher_and_course_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/likes_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/animation_font_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/edit_comment_modal.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/comment_likes.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/open_close_edit_modal.js' %}"></script>
{% endblock %}
{% block title %}דף הבית{% endblock %}
{% block content %}
    {#    <div class="title-container">#}
    {#        <span class="mytext1">ברוכים הבאים לאתר הסטודנטים</span>#}
    {#        <span class="mytext2"> Alrazy </span>#}
    {#    </div>#}
    <div class="row">
        {# in svg:    viewBox="0 0 960 300"#}
        <svg>
            <symbol id="t-text">
                <text text-anchor="middle" x="50%" y="100%">ברוכים הבאים
                </text>
            </symbol>
            <g class="g-ants">
                <use xlink:href="#t-text" class="text-copy"></use>
                <use xlink:href="#t-text" class="text-copy"></use>
                <use xlink:href="#t-text" class="text-copy"></use>
                <use xlink:href="#t-text" class="text-copy"></use>
                <use xlink:href="#t-text" class="text-copy"></use>
            </g>
        </svg>
        <svg style="font: 4em 'BN Cloud'">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="50%">לאתר הסטודנטים של בר אילן</text>
            </symbol>
            <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
    </div>
    <div class="row">
        <h2 class="widget-header">תגובות אחרונות</h2>
        <div class="col" style="width: 50%">
            <div class="card-comment">
                <h1 class="tab-title"><b>תגובות מורים</b></h1>
                <div class="scrollbar scrollbar-primary" style="height: 86%; padding: 0">
                    <ul class="list-group list-group-flush">
                        {% for review in teacher_comments %}
                            <b style="text-align: center; color: #777777"><i>תגובה
                                על {{ review.teacher }}</i></b>
                            <li class="list-group-item">
                                {% if review.author.first_name %}
                                    <a class="float-left"><strong>{{ review.author.first_name }}</strong></a>
                                {% else %}
                                    <a class="float-left"><strong>{{ review.author }}</strong></a>
                                {% endif %}
                                {% for rating in teacher_rating %}
                                    {% ifequal rating.user review.author %}
                                        {% with ''|center:rating.value as range %}
                                            {% for _ in range %}
                                                <span class="float-right"><i
                                                        class="text-warning fa fa-star"></i></span>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endifequal %}
                                {% endfor %}
                                <h4><strong>{{ review.headline }}</strong></h4>
                                <p>{{ review.text }}</p>
                                {% if request.user.is_authenticated %}
                                    <div class="action">
                                        {% ifequal request.user review.author.user %}
                                            <button type="button" id="delete_{{ review.id }}"
                                                    onclick="delete_comment(this)" class="btn-trash btn-xs"
                                                    title="מחק">
                                                <span class="glyphicon glyphicon-trash">
                                                    <i class="fas fa-trash"></i></span>
                                            </button>
                                            <button type="button" class="btn-edit btn-xs" title="ערוך"
                                                    id="btn_{{ review.id }}" onclick="openRateModal(this)">
                                                <span class="glyphicon glyphicon-pencil">
                                                    <i class="fas fa-pen"></i></span>
                                            </button>
                                        {% endifequal %}
                                        <button type="button" class="btn-like btn-xs"
                                                id="heart_teacher_{{ review.id }}"
                                                name="heart-like" onclick="changeHeart(this)"
                                                title="אהבתי">
                                                    <span class="glyphicon glyphicon-ok"><i
                                                            class="fas fa-thumbs-up"></i></span>
                                        </button>
                                        <p class="liked" id="amount_{{ review.id }}"
                                           style="color: #0c56d0; padding: 0 5px">{{ review.amount_of_likes }}
                                            אנשים
                                            אהבו את זה</p>
                                    </div>
                                {% endif %}
                            </li>
                            <div id="rateModal_{{ review.id }}" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                            <span class="close" id="closeRate_{{ review.id }}"
                                  onclick="closeRateModal(this)">&times;</span>
                                    <div>
                                        <form class="rate-form" method="post">
                                            {% csrf_token %}
                                            <label for="headline_{{ review.id }}">כותרת:
                                                <input type="text" id="headline_{{ review.id }}">
                                            </label>
                                            <br>
                                            <label for="commentArea">הוסף תגובה:</label>
                                            <textarea class="form-control" id="commentArea_{{ review.id }}"
                                                      rows="3"></textarea>
                                            <br>
                                            <label>דרג:</label>
                                            <div>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="first-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="second-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="third-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fourth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fifth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                            </div>
                                            <br>
                                            <button id="course_edit_{{ review.id }}"
                                                    class="btn btn-outline-primary"
                                                    onclick="sendData(this)">שלח!
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col" style="width: 50%">
            <div class="card-comment">
                <h1 class="tab-title"><b>תגובות קורסים</b></h1>
                <div class="scrollbar scrollbar-primary" style="height: 86%; padding: 0">
                    <ul class="list-group list-group-flush">
                        {% for review in course_comments %}
                            <b style="text-align: center; color: #777777"><i>תגובה
                                על {{ review.course }}</i></b>
                            <li class="list-group-item">
                                {% if review.author.first_name %}
                                    <a class="float-left"><strong>{{ review.author.first_name }}</strong></a>
                                {% else %}
                                    <a class="float-left"><strong>{{ review.author }}</strong></a>
                                {% endif %}
                                {% for rating in teacher_rating %}
                                    {% ifequal rating.user review.author %}
                                        {% with ''|center:rating.value as range %}
                                            {% for _ in range %}
                                                <span class="float-right"><i
                                                        class="text-warning fa fa-star"></i></span>
                                            {% endfor %}
                                        {% endwith %}
                                    {% endifequal %}
                                {% endfor %}
                                <h4><strong>{{ review.headline }}</strong></h4>
                                <p>{{ review.text }}</p>
                                {% if request.user.is_authenticated %}
                                    <div class="action">
                                        {% ifequal request.user review.author.user %}
                                            <button type="button" id="delete_{{ review.id }}"
                                                    onclick="delete_comment(this)" class="btn-trash btn-xs"
                                                    title="מחק">
                                                <span class="glyphicon glyphicon-trash">
                                                    <i class="fas fa-trash"></i></span>
                                            </button>
                                            <button type="button" class="btn-edit btn-xs" title="ערוך"
                                                    id="btn_{{ review.id }}" onclick="openRateModal(this)">
                                                <span class="glyphicon glyphicon-pencil">
                                                    <i class="fas fa-pen"></i></span>
                                            </button>
                                        {% endifequal %}
                                        <button type="button" class="btn-like btn-xs"
                                                id="heart_teacher_{{ review.id }}"
                                                name="heart-like" onclick="changeHeart(this)"
                                                title="אהבתי">
                                                    <span class="glyphicon glyphicon-ok"><i
                                                            class="fas fa-thumbs-up"></i></span>
                                        </button>
                                        <p class="liked" id="amount_{{ review.id }}"
                                           style="color: #0c56d0; padding: 0 5px">{{ review.amount_of_likes }}
                                            אנשים
                                            אהבו את זה</p>
                                    </div>
                                {% endif %}
                            </li>
                            <div id="rateModal_{{ review.id }}" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                            <span class="close" id="closeRate_{{ review.id }}"
                                  onclick="closeRateModal(this)">&times;</span>
                                    <div>
                                        <form class="rate-form" method="post">
                                            {% csrf_token %}
                                            <label for="headline_{{ review.id }}">כותרת:
                                                <input type="text" id="headline_{{ review.id }}">
                                            </label>
                                            <br>
                                            <label for="commentArea">הוסף תגובה:</label>
                                            <textarea class="form-control" id="commentArea_{{ review.id }}"
                                                      rows="3"></textarea>
                                            <br>
                                            <label>דרג:</label>
                                            <div>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="first-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="second-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="third-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fourth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                                        id="fifth-star_{{ review.id }}"
                                                        onmouseover="changeStar(this)"></button>
                                            </div>
                                            <br>
                                            <button id="course_edit_{{ review.id }}"
                                                    class="btn btn-outline-primary"
                                                    onclick="sendData(this)">שלח!
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 class="widget-header">מורים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for t in teachers %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ t.title_and_name }}</h5>
                            <p class="card-text">
                                <label>מחלקות:
                                    {% for dep in t.departments %}
                                        <li>{{ dep }}</li>
                                    {% endfor %}
                                </label>
                                <br>
                                <label>דירוג ממוצע: {{ t.average_rating }}</label>
                            </p>
                            <a href="{% url 'teacher_detail' t.id %}" class="btn btn-link">פרטים נוספים</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2 class="widget-header">קורסים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for c in courses %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ c.name }}</h5>
                            <p class="card-text">
                                <label>מחלקה: {{ c.department }}</label>
                                <br>
                                <label>קוד: {{ c.code }}</label>
                                <br>
                                <label>דירוג ממוצע: {{ c.average_rating }}</label>
                            </p>
                            <a href="{% url 'course_detail' c.code %}" class="btn btn-link">פרטים נוספים</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
