{% extends 'plan_ilan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/rating_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/teacher_and_course_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/likes_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/home_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/comment_likes.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/home.js' %}"></script>
{% endblock %}
{% block title %}דף הבית{% endblock %}
{% block content %}
    <h1>ברוכים הבאים לאתר הסטודנטים של בר-אילן</h1>
    <!-- Button trigger modal -->
    <div class="container sectional-wrapper">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 aside-section">
                <div class="widget blog-widget">
                    <h2 class="widget-header">תגובות אחרונות</h2>
                    <h3>תגובות מורים</h3>
                    {% for review in teacher_comments %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                             class="img img-rounded img-fluid"
                                             alt=""/>
                                    </div>
                                    <div class="col-md-10">
                                        <p>
                                            {% if review.author.first_name %}
                                                <a class="float-left"><strong>{{ review.author.first_name }}</strong></a>
                                            {% else %}
                                                <a class="float-left"><strong>{{ review.author }}</strong></a>
                                            {% endif %}
                                            {% for rating in teacher_rating %}
                                                {% if rating.user == review.author and rating.teacher == review.teacher %}
                                                    {% with ''|center:rating.value as range %}
                                                        {% for _ in range %}
                                                            <span class="float-right"><i
                                                                    class="text-warning fa fa-star"></i></span>
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endif %}
                                            {% endfor %}

                                        </p>
                                        <div class="clearfix"></div>
                                        <p><strong>{{ review.headline }}</strong></p>
                                        <p>{{ review.text }}</p>
                                        {% if request.user.is_authenticated %}
                                            <button type="submit" class="fa fa-heart heart-btn"
                                                    id="heart_teacher_{{ review.id }}"
                                                    name="heart-like" onclick="changeHeart(this)"></button>
                                            <p class="liked" id="amount_{{ review.id }}">{{ review.amount_of_likes }} אנשים אהבו את זה</p>
                                            <br>
                                            {% ifequal request.user review.author.user %}
                                                <button id="delete_{{ review.id }}"
                                                        class="fas fa-trash close-btn-groups trash"
                                                        onclick="delete_comment(this)"></button>
                                                <br>
                                                <button type="button" id="btn_{{ review.id }}" class="btn btn-link" onclick="openRateModal(this)">ערוך</button>
                                            {% endifequal %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rateModal_{{ review.id }}" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" id="closeRate_{{ review.id }}" onclick="closeRateModal(this)">&times;</span>
                                <div>
                                    <form class="rate-form" method="post">
                                        {% csrf_token %}
                                        <label for="headline_{{ review.id }}">כותרת:
                                            <input type="text" id="headline_{{ review.id }}">
                                        </label>
                                        <br>
                                        <label for="commentArea">הוסף תגובה:</label>
                                        <textarea class="form-control" id="commentArea_{{ review.id }}"
                                                  rows="3"></textarea>
                                        <br>
                                        <label>דרג:</label>
                                        <div>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="first-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="second-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="third-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="fourth-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="fifth-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                        </div>
                                        <br>
                                        <button id="teacher_edit_{{ review.id }}" class="btn btn-outline-primary"
                                                onclick="sendData(this)">שלח!
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <h3>תגובות קורסים</h3>
                    {% for review in course_comments %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                             class="img img-rounded img-fluid"
                                             alt=""/>
                                    </div>
                                    <div class="col-md-10">
                                        <p>
                                            {% if review.author.first_name %}
                                                <a class="float-left"><strong>{{ review.author.first_name }}</strong></a>
                                            {% else %}
                                                <a class="float-left"><strong>{{ review.author }}</strong></a>
                                            {% endif %}
                                            {% for rating in course_rating %}
                                                {% if rating.user == review.author and rating.course == review.course %}
                                                    {% with ''|center:rating.value as range %}
                                                        {% for _ in range %}
                                                            <span class="float-right"><i
                                                                    class="text-warning fa fa-star"></i></span>
                                                        {% endfor %}
                                                    {% endwith %}
                                                {% endif %}
                                            {% endfor %}

                                        </p>
                                        <div class="clearfix"></div>
                                        <p><strong>{{ review.headline }}</strong></p>
                                        <p>{{ review.text }}</p>
                                        {% if request.user.is_authenticated %}
                                            <button type="submit" class="fa fa-heart heart-btn"
                                                    id="heart_course_{{ review.id }}"
                                                    name="heart-like" onclick="changeHeart(this)"></button>
                                            <p id="amount_{{ review.id }}" class="liked">{{ review.amount_of_likes }} אנשים אהבו את זה</p>
                                            <br>
                                            {% ifequal request.user review.author.user %}
                                                <button id="delete_{{ review.id }}"
                                                        class="fas fa-trash close-btn-groups trash"
                                                        onclick="delete_comment(this)"></button>
                                                <br>
                                                <button type="button" class="btn btn-link" onclick="openRateModal(this)"
                                                        id="rateBtn_{{ review.id }}">ערוך
                                                </button>
                                            {% endifequal %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="rateModal_{{ review.id }}" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close" id="closeRate_{{ review.id }}" onclick="closeRateModal(this)">&times;</span>
                                <div>
                                    <form class="rate-form" method="post">
                                        {% csrf_token %}
                                        <label for="headline_{{ review.id }}">כותרת:
                                            <input type="text" id="headline_{{ review.id }}">
                                        </label>
                                        <br>
                                        <label for="commentArea">הוסף תגובה:</label>
                                        <textarea class="form-control" id="commentArea_{{ review.id }}"
                                                  rows="3"></textarea>
                                        <br>
                                        <label>דרג:</label>
                                        <div>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="first-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="second-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="third-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="fourth-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                            <button type="submit" class="fa fa-star fa-2x star-btn"
                                                    id="fifth-star_{{ review.id }}"
                                                    onmouseover="changeStar(this)"></button>
                                        </div>
                                        <br>
                                        <button id="course_edit_{{ review.id }}" class="btn btn-outline-primary"
                                                onclick="sendData(this)">שלח!
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <h2 class="widget-header">מורים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for t in teachers %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ t.title_and_name }}</h5>
                            <p class="card-text">
                                <label>מחלקות:
                                    {% for dep in t.departments %}
                                        <li>{{ dep }}</li>
                                    {% endfor %}
                                </label>
                                <br>
                                <label>דירוג ממוצע: {{ t.average_rating }}</label>
                            </p>
                            <a href="{% url 'teacher_detail' t.id %}" class="btn btn-link">פרטים נוספים</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2 class="widget-header">קורסים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for c in courses %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ c.name }}</h5>
                            <p class="card-text">
                                <label>מחלקה: {{ c.department }}</label>
                                <br>
                                <label>קוד: {{ c.code }}</label>
                                <br>
                                <label>דירוג ממוצע: {{ c.average_rating }}</label>
                            </p>
                            <button type="button" class="btn btn-link">פרטים נוספים</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
