{% extends 'plan_ilan/base.html' %}
{% load widget_tweaks %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/search_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/button_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/search.js' %}"></script>
{% endblock %}
{% block title %}חיפוש{% endblock %}
{% block content %}
    <div class="container">
        <div class="sidenav" id="search_box">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSearchBox()"
               style="color: white; margin-right: 0">&times;</a>
            <div class="filter-by">
                <button class="btn-choice" id="teacher_button" onclick="display_teacher_filter()">סגל</button>
                <button class="btn-choice focus clicked" id="course_button" onclick="display_course_filter()">קורס
                </button>
            </div>
            <div class="scrollbar scrollbar-primary" style="height: 81%; background: rgb(214,97,97);">
                <div id="course_filter">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <label>מחלקה</label>
                            <div class="control">
                                {% render_field lesson_filter.form.department %}
                            </div>
                        </div>
                        <div class="field">
                            <label>שם הקורס</label>
                            <div class="control">
                                {% render_field lesson_filter.form.name class="input" placeholder="Enter name here" %}
                            </div>
                        </div>
                        <div class="field">
                            <label>טווח דירוג:</label>
                            {% render_field lesson_filter.form.ratings %}
                        </div>
                        <div class="field">
                            <label>שעת התחלה:</label>
                            {% render_field lesson_filter.form.start_time type="time" %}
                            <label>שעת סיום:</label>
                            {% render_field lesson_filter.form.end_time type="time" %}
                        </div>
                        <div class="field">
                            <label>קורס אונליין:</label>
                            <div class="control">
                                {% render_field lesson_filter.form.online %}
                            </div>
                        </div>
                        <div class="field">
                            <label>יום:</label>
                            <div class="control">
                                {% render_field lesson_filter.form.day %}
                            </div>
                        </div>
                        <div class="field">
                            <label>סמסטר:</label>
                            <div class="control">
                                {% render_field lesson_filter.form.semester %}
                            </div>
                        </div>
                        <div class="field">
                            <label>סוג השיעור:</label>
                            <div class="control">
                                {% render_field lesson_filter.form.session_type %}
                            </div>
                        </div>
                        <div class="field">
                            <label>שם המרצה\מתרגל:</label>
                            <div class="control">
                                {% render_field lesson_filter.form.teachers %}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" name="form-search-course">חפש</button>
                        <a href="{% url 'search' %}" style="float: left">ניקוי</a>

                    </form>
                </div>
                <div id="teacher_filter" style="display: none">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <label>שם המרצה/מתרגל:</label>
                            <div class="control">
                                {% render_field teacher_filter.form.name %}
                            </div>
                        </div>
                        <div class="field">
                            <label>דירוג בין:</label>
                            {% render_field teacher_filter.form.ratings %}
                        </div>
                        <div class="field">
                            <div class="control">
                                <label>פקולטה:
                                    {% render_field teacher_filter.form.faculty %}
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" name="form-search-teacher">חפש</button>
                        <a href="{% url 'search' %}" style="float: left">ניקוי</a>
                    </form>
                </div>
            </div>
        </div>
        <div id="results" style="position:absolute; right: 0; height: 100%; width: 75%">
            <span class="open-btn" id="open_search_box" onclick="openSearchBox()"><i
                    class="fas fa-caret-left fa-2x"></i>חפש</span>
            <div class="resize-box" id="courses_results">
                <div class="scrollbar scrollbar-primary">
                    {% if 'form-search-course' in request.GET %}
                        {% for course in courses %}
                            <button type="button" id="course_result_{{ course.code }}" class="btn class_btn"
                                    onclick="chosenElement('chosen_course_{{ course.code }}', 'c')">{{ course.name }}<br>{{ course.code }}
                            </button>
                        {% endfor %}
                    {% endif %}
                    {% if 'form-search-teacher' in request.GET %}
                        {% for teacher in teachers %}
                            <button type="button" id="teacher_result_{{ teacher.id }}" class="btn class_btn"
                                    onclick="chosenElement('chosen_teacher_{{ teacher.id }}', 't')">{{ teacher }}
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="ui-widget-content resize-box" id="chosen_elements">
                <div class="scrollbar scrollbar-primary">
                    <div id="spinner" style="display: none">
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-text">אנא המתן...</div>
                    </div>
                    {% if 'form-search-course' in request.GET %}
                        {% for course in courses %}
                            <div class="chosen_course" id="chosen_course_{{ course.code }}" style="display: none">
                                <div class="details-title fw-bolder text-decoration-underline fs-2"
                                     id="name_{{ course.code }}"></div>
                                <div class="details fs-4" id="code_{{ course.code }}"></div>
                                <div class="details fs-4" id="staff_{{ course.code }}"></div>
                                <div class="details fs-4" id="type_{{ course.code }}"></div>
                                <div class="details fs-4" id="times_{{ course.code }}"></div>
                                <a class="details fs-4" id="link_{{ course.code }}"></a>
                                <button class="btn btn-info details fs-4" id="profile_{{ course.code }}"
                                        style="float: left;">לצפייה בדף הקורס
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if 'form-search-teacher' in request.GET %}
                        {% for teacher in teachers %}
                            <div class="chosen_teacher" id="chosen_teacher_{{ teacher.id }}"
                                 style="display: none">
                                <div class="details-title fw-bolder text-decoration-underline fs-2"
                                     id="name_{{ teacher.id }}"></div>
                                <div class="details fs-4" id="faculty_{{ teacher.id }}"></div>
                                <div class="details fs-4" id="department_{{ teacher.id }}"></div>
                                <a class="details-link fs-4" id="link_{{ teacher.id }}"></a>
                                <button class="btn btn-info details fs-4" id="profile_{{ teacher.id }}"
                                        style="float: left;">לצפייה בדף הפרופיל
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
