{% extends 'plan_ilan/base.html' %}
{% load widget_tweaks %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/search_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'plan_ilan/css/button_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'plan_ilan/js/search.js' %}"></script>
{% endblock %}
{% block title %}חיפוש{% endblock %}
{% block content %}
    <div class="container">
        <div class="sidenav" id="search_box">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSearchBox()"
               style="color: white; margin-right: 0">&times;</a>
            <div class="filter-by" style="height: 10%">
                <button class="btn-choice" id="teacher_button" onclick="display_teacher_filter()">סגל</button>
                <button class="btn-choice focus clicked" id="course_button" onclick="display_course_filter()">קורס
                </button>
            </div>
            <div class="scrollbar scrollbar-primary" style="height: 80%; background: rgb(214,97,97);">
                <div id="course_filter">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-book fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.department %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-key fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.name class="input" %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-star fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.ratings %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-hourglass-start fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.start_time type="time" %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-hourglass-end fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.end_time type="time" %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-laptop fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.online placeholder="Enter" %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar-day fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.day %}
                            </div>
                            {#                            <label>יום:</label>#}
                            {#                            <div class="control">#}
                            {#                                {% render_field lesson_filter.form.day %}#}
                            {#                            </div>#}
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-calendar fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.semester %}
                            </div>
                            {#                            <label>סמסטר:</label>#}
                            {#                            <div class="control">#}
                            {#                                {% render_field lesson_filter.form.semester %}#}
                            {#                            </div>#}
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-question fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.session_type %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field lesson_filter.form.teachers %}
                            </div>
                        </div>
                        <button class="btn btn-light" type="submit" style="width: 50%" name="form-search-course">חפש
                        </button>
                        <a href="{% url 'search' %}" style="float: left; color:white">ניקוי</a>

                    </form>
                </div>
                <div id="teacher_filter" style="display: none">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-user fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                    </div>
                                    {% render_field teacher_filter.form.name %}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-star fa-2x"
                                                                      style="color: #de6e6e"></i></span>
                                </div>
                                {% render_field teacher_filter.form.ratings %}
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <div class="input-group mb-2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-book fa-2x"
                                                                          style="color: #de6e6e"></i></span>
                                    </div>
                                    {% render_field teacher_filter.form.faculty %}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-light" type="submit" style="width: 50%" name="form-search-teacher">חפש
                        </button>
                        <a href="{% url 'search' %}" style="float: left; color:white">ניקוי</a>
                    </form>
                </div>
            </div>
        </div>
        <div id="results" style="position:absolute; right: 0; height: 90%; width: 75%">
            <span class="open-btn" id="open_search_box" onclick="openSearchBox()"><i class="fas fa-chevron-left"></i><b>חפש</b></span>
            <div class="resize-box" id="courses_results">
                <div class="scrollbar scrollbar-primary">
                    {% if 'form-search-course' in request.GET %}
                        {% if courses|length == 0 %}
                            <div class="row" style="position: absolute; height: auto; width: 90%">
                                <div class="column" style="position: relative; width: 60%">
                                    <img src="{% static 'plan_ilan/images/zero-results.png' %}"
                                         class="zero_elements_image"/>
                                </div>
                                <div class="column" style="position: relative; width: 40%">
                                    <div class="zero-elements fw-bolder fs-2">לא נמצאו קורסים מתאימים</div>
                                </div>
                            </div>
                        {% endif %}
                        {% for course in courses %}
                            <button type="button" id="course_result_{{ course.code }}" class="btn class_btn"
                                    onclick="chosenElement('chosen_course_{{ course.code }}', 'c')">{{ course.name }}<br>{{ course.code }}
                            </button>
                        {% endfor %}
                    {% endif %}
                    {% if 'form-search-teacher' in request.GET %}
                        {% if teachers|length == 0 %}
                            <div class="row" style="position: absolute; height: auto; width: 90%">
                                <div class="column" style="position: relative; width: 60%">
                                    <img src="{% static 'plan_ilan/images/zero-results.png' %}"
                                         class="zero_elements_image"/>
                                </div>
                                <div class="column" style="position: relative; width: 40%">
                                    <div class="zero-elements fw-bolder fs-2">לא נמצא סגל מתאים</div>
                                </div>
                            </div>
                        {% endif %}
                        {% for teacher in teachers %}
                            <button type="button" id="teacher_result_{{ teacher.id }}" class="btn class_btn"
                                    onclick="chosenElement('chosen_teacher_{{ teacher.id }}', 't')">{{ teacher }}
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="ui-widget-content resize-box" id="chosen_elements">
                <div class="scrollbar scrollbar-primary">
                    <div id="spinner" style="display: none">
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="spinner-text">אנא המתן...</div>
                    </div>
                    {% if 'form-search-course' in request.GET %}
                        {% for course in courses %}
                            <div class="chosen_course" id="chosen_course_{{ course.code }}" style="display: none">
                                <div class="details-title fw-bolder text-decoration-underline fs-2"
                                     id="name_{{ course.code }}"></div>
                                <div class="details fs-4" id="code_{{ course.code }}"></div>
                                <h4><i>שיעורים: </i></h4>
                                <div class="details fs-4" id="classes_{{ course.code }}"></div>
                                <a class="details fs-4" id="link_{{ course.code }}"></a>
                                <a class="btn btn-info details fs-4" style="float: left;"
                                   href="{% url 'course_detail' course.code %}">לצפייה בדף הפרופיל
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if 'form-search-teacher' in request.GET %}
                        {% for teacher in teachers %}
                            <div class="chosen_teacher" id="chosen_teacher_{{ teacher.id }}"
                                 style="display: none">
                                <div class="details-title fw-bolder text-decoration-underline fs-2"
                                     id="name_{{ teacher.id }}"></div>
                                <div class="details fs-4" id="faculty_{{ teacher.id }}"></div>
                                <div class="details fs-4" id="department_{{ teacher.id }}"></div>
                                <div class="details fs-4" id="courses_{{ teacher.id }}"></div>
                                <a class="details-link fs-4" id="link_{{ teacher.id }}"></a>
                                <a class="btn btn-info details fs-4" style="float: left;"
                                   href="{% url 'teacher_detail' teacher.id %}">לצפייה בדף הפרופיל
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
