<ul class="list-inline">
    <li class="list-inline-item"><a href="https://www.facebook.com/{{ facebook }}" target="_blank"
                                    class="text-decoration-none d-block px-1"><i
            class="fab fa-facebook-square {{ size|default:"fa-2x" }}"></i></a></li>
    <li class="list-inline-item"><a href="https://www.instagram.com/{{ instagram }}" target="_blank"
                                    class="text-decoration-none d-block px-1"><i
            class="fab fa-instagram {{ size|default:"fa-2x" }}"></i></a></li>
    <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{ linkedin }}" target="_blank"
                                    class="text-decoration-none d-block px-1"><i
            class="fab fa-linkedin {{ size|default:"fa-2x" }}"></i></a></li>
    <li class="list-inline-item"><a href="mailto:{{ mail }}?Subject={{ subject }}"
                                    class="text-decoration-none d-block px-1"><i
            class="fas fa-envelope {{ size|default:"fa-2x" }}"></i></a></li>
</ul>
