{% load static %}
<!doctype html>
<html lang="he" dir="auto">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% block css_block %}
    {% endblock %}
    {% block js_block %}
    {% endblock %}
    <title>{% block title %}דף הבית{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e5f2fd; margin: 0 0 0; height: 10%">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'timetable' %}">בנה מערכת שעות</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'search' %}">חיפוש</a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">דף הבית</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a class="nav-link active" href="{% url 'logout' %}">התנתק</a>
                    {% else %}
                        <a class="nav-link active" href="{% url 'login' %}">התחבר</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        {% if user.is_authenticated %}
                            {{ request.user }}
                        {% else %}
                            אורח
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        שלום
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
