{% extends 'PlanIlan/base.html' %}
{% block css_block %}
    {% load static %}
    <link href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/rating_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/latest-posts.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/likes_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/home_style.css' %}"/>
{% endblock %}
{% block js_block %}
    {% load static %}
    <script type="text/javascript"
            src="{% static 'node_modules/@fortawesome/fontawesome-free/js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/jquery-ui-dist/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'PlanIlan/js/csrf_token_script.js' %}"></script>
    <script type="text/javascript" src="{% static 'PlanIlan/js/rating.js' %}"></script>
    <script type="text/javascript" src="{% static 'PlanIlan/js/comment_likes.js' %}"></script>
    <script type="text/javascript" src="{% static 'PlanIlan/js/home.js' %}"></script>
{% endblock %}
{% block title %}דף הבית{% endblock %}
{% block content %}
    <h1>ברוכים הבאים לאתר הסטודנטים של בר-אילן</h1>
    <!-- Button trigger modal -->
    <div class="container sectional-wrapper">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 aside-section">
                <div class="widget blog-widget">
                    <h2 class="widget-header">תגובות אחרונות</h2>
                    <h3>תגובות מורים</h3>
                    {% for t_c in teacher_comments %}
                        <div class="ct-latest">
                            <div class="media-left">
                                <p>{{ t_c.author }}</p>
                                <input class="amount-likes" type='number' id='amount_{{ t_c.id }}'
                                       value="{{ t_c.amount_of_likes }}" readonly/>
                                {% if request.user.is_authenticated %}
                                    <button type="submit" class="fa fa-heart heart-btn" id="heart_{{ t_c.id }}"
                                            name="heart-like"></button>
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <h2 class="ct-latest-header media-heading">{{ t_c.headline }}</h2>
                                <p>{{ t_c.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    <h3>תגובות קורסים</h3>
                    {% for c_c in course_comments %}
                        <div class="ct-latest">
                            <div class="media-left">
                                <p>{{ c_c.author }}</p>
                                <input class="amount-likes" type='number' id='amount_{{ c_c.id }}'
                                       value="{{ c_c.amount_of_likes }}" readonly/>
                                {% if request.user.is_authenticated %}
                                    <button type="submit" class="fa fa-heart heart-btn" id="heart_{{ c_c.id }}"
                                            name="heart-like" onclick="changeHeart(this)"></button>
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <h2 class="ct-latest-header media-heading">{{ c_c.headline }}</h2>
                                <p>{{ c_c.text }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <h2 class="widget-header">מורים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for t in teachers %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ t.title_and_name }}</h5>
                            <p class="card-text">
                                <label>מחלקות:
                                    {% for dep in t.departments %}
                                        {{ dep }},
                                    {% endfor %}
                                </label>
                                <br>
                            </p>
                            <button type="button" class="btn btn-link" onclick="openRateModal(this)"
                                    id="rateBtn_{{ t.id }}">דרג
                            </button>
                            <button type="button" class="btn btn-link">פרטים נוספים</button>
                        </div>
                    </div>
                </div>
                <div id="rateModal_{{ t.id }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="closeRate_{{ t.id }}" onclick="closeRateModal(this)">&times;</span>
                        <div>
                            <form class="rate-form" method="post">
                                {% csrf_token %}
                                <label for="commentArea">הוסף תגובה:</label>
                                <textarea class="form-control" id="commentArea" rows="3"></textarea>
                                <br>
                                <label>דרג:</label>
                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                        id="first-star_{{ t.id }}" data-id="{{ t.id }}"></button>
                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                        id="second-star_{{ t.id }}" data-id="{{ t.id }}"></button>
                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                        id="third-star_{{ t.id }}" data-id="{{ t.id }}"></button>
                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                        id="fourth-star_{{ t.id }}" data-id="{{ t.id }}"></button>
                                <button type="submit" class="fa fa-star fa-2x star-btn"
                                        id="fifth-star_{{ t.id }}" data-id="{{ t.id }}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <h2 class="widget-header">קורסים מובילים</h2>
    <div class="container">
        <div class="row">
            {% for c in courses %}
                <div class="col col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ c.name }}</h5>
                            <p class="card-text">
                                <label>מחלקה: {{ c.department }}</label>
                                <br>
                                <label>קוד: {{ c.code }}</label>
                                <br>
                                <label>דירוג ממוצע: {{ c.average_rating }}</label>
                            </p>
                            <button type="button" class="btn btn-link" onclick="openRateModal(this)"
                                    id="rateBtn_{{ c.code }}">דרג
                            </button>
                            <button type="button" class="btn btn-link">פרטים נוספים</button>
                        </div>
                    </div>
                </div>
                <div id="rateModal_{{ c.code }}" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" id="closeRate_{{ c.code }}" onclick="closeRateModal(this)">&times;</span>
                        <div>
                            <form class="rate-form" method="post">
                                {% csrf_token %}
                                <label for="headline_{{ c.code }}">כותרת:
                                    <input type="text" id="headline_{{ c.code }}">
                                </label>
                                <br>
                                <label for="commentArea_{{ c.code }}">הוסף תגובה:
                                    <textarea class="form-control" id="commentArea_{{ c.code }}" rows="3"></textarea>
                                </label>
                                <br>
                                <label>דרג:</label>
                                <div>
                                    <button type="submit" class="fa fa-star fa-2x star-btn"
                                            id="first-star_{{ c.code }}" onmouseover="changeStar(this)"></button>
                                    <button type="submit" class="fa fa-star fa-2x star-btn"
                                            id="second-star_{{ c.code }}" onmouseover="changeStar(this)"></button>
                                    <button type="submit" class="fa fa-star fa-2x star-btn"
                                            id="third-star_{{ c.code }}" onmouseover="changeStar(this)"></button>
                                    <button type="submit" class="fa fa-star fa-2x star-btn"
                                            id="fourth-star_{{ c.code }}" onmouseover="changeStar(this)"></button>
                                    <button type="submit" class="fa fa-star fa-2x star-btn"
                                            id="fifth-star_{{ c.code }}" onmouseover="changeStar(this)"></button>
                                </div>
                                <br>
                                <button type="submit" id="course_review_{{ c.code }}" class="btn btn-outline-primary"
                                        onclick="sendData(this)">שלח!
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}