{% extends 'PlanIlan/base.html' %}
{% block css_block %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan_ilan/css/login_style.css' %}"/>
{% endblock %}
{% block js_block %}
{% endblock %}
{% block title %}שחזור סיסמא{% endblock %}
{% block content %}
    <div class="bg_image"></div>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card" style="width: 500px">
                <div class="d-flex justify-content-center">
                    {% load static %}
                    <img src="/static/PlanIlan/images/logo.png" class="logo_image"/>
                </div>
                <div class="d-flex justify-content-center">
                    <h3>הכנסת סיסמא חדשה</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p style="text-align:center">הכנס סיסמא חדשה פעמיים, על מנת לוודא כי הקלדת אותה נכון</p>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" dir="ltr">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" style="width: 50%" type="submit" value="שליחה">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
