{% extends 'PlanIlan/base.html' %}
{% load widget_tweaks %}
{% block css_block %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'PlanIlan/css/search_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/scrollbar_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'PlanIlan/css/button_style.css' %}"/>
{% endblock %}
{% block js_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'PlanIlan/js/search.js' %}"></script>
{% endblock %}
{% block title %}חיפוש{% endblock %}
{% block content %}
    <div class="container">
        <div class="sidenav" id="search_box">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSearchBox()"
               style="color: white; margin-right: 0">&times;</a>
            <div class="filter-by">
                <button class="btn-choice" id="teacher_button" onclick="display_teacher_filter()">סגל</button>
                <button class="btn-choice focus clicked" id="course_button" onclick="display_course_filter()">קורס
                </button>
            </div>
            <div class="scrollbar scrollbar-primary" style="height: 81%; background: rgb(214, 97, 97);">
                <div id="course_filter">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <label>Department</label>
                            <div class="control">
                                {% render_field course_filter.form.department class="selectpicker" data-show-subtext="true" data-live-search="true" %}
                            </div>
                        </div>
                        <div class="field">
                            <label>Course name</label>
                            <div class="control">
                                {% render_field course_filter.form.name class="input" placeholder="Enter name here" %}
                            </div>
                        </div>
                        <div class="field">
                            <label>Rating Between:</label>
                            {% render_field course_filter.form.rating_from %}
                            <label>And:</label>
                            {% render_field course_filter.form.rating_to %}
                        </div>
                        <button class="btn btn-primary" type="submit" name="form-search-course">חפש</button>
                        <a href="{% url 'search' %}" style="float: left">ניקוי</a>

                    </form>
                </div>
                <div id="teacher_filter" style="display: none">
                    <form method="get">
                        {% csrf_token %}
                        <div class="field">
                            <label>Teacher Name</label>
                            <div class="control">
                                {% render_field teacher_filter.form.name %}
                            </div>
                        </div>
                        <div class="field">
                            <label>Rating Between:</label>
                            {% render_field teacher_filter.form.rating_from %}
                            <label>And:</label>
                            {% render_field teacher_filter.form.rating_to %}
                        </div>
                        <button class="btn btn-primary" type="submit" name="form-search-teacher">חפש</button>
                        <a href="{% url 'search' %}" style="float: left">ניקוי</a>
                    </form>
                </div>
            </div>
        </div>
        <div id="results" style="position:absolute; right: 0; height: 100%; width: 75%">
            <span class="open-btn" id="open_search_box" onclick="openSearchBox()"><i
                    class="fas fa-caret-left fa-2x"></i>חפש</span>
            <div class="resize-box" id="courses_result">
                <div class="scrollbar scrollbar-primary">
                    {% if 'form-search-course' in request.GET %}
                        {% for course in courses %}
                            <button class="btn class_btn"
                                    onclick="chosenCourse()">{{ course.name }}<br>{{ course.code }}</button>
                        {% endfor %}
                    {% endif %}
                    {% if 'form-search-teacher' in request.GET %}
                        {% for teacher in teachers %}
                            <button class="btn class_btn" onclick="chosenTeacher()">{{ teacher }}</button>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="resize-box" id="chosen_element">
                chosen course!
            </div>
        </div>
    </div>
{% endblock %}