{% extends 'PlanIlan/base.html' %}
{% load widget_tweaks %}
{% block css_block %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'PlanIlan/css/timetable_style.css' %}"/>
{% endblock %}
{% block js_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static 'PlanIlan/js/csrf_token_script.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'PlanIlan/js/timetable.js' %}"defer></script>
{% endblock %}
{% block title %}בנה מערכת שעות{% endblock %}
{% block content %}
    <div class="container" id="course-table">
        <h4>צור קבוצות קורס</h4>
        <lable class="label">סוג קבוצה</lable>
        <select id="selected-option">
            <option>חובה</option>
            <option>בחירה</option>
        </select>
        <br>
        <lable class="label">שם הקבוצה</lable>
        <input type="text" id="group-name">
        <br>
        <label class="label">בחר סמסטר</label>
        {% render_field lesson_filter.form.semester id="semester" %}
        <br>
        <button class="button btn-primary" id="create-group" onclick="create_groups()">צור קבוצה</button>
    </div>
    <div id="wrapper-div" class="container">
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <label class="label">בחר מחלקה</label>
                    {% render_field lesson_filter.form.department id="select-dep" name="dep-drop" onChange="DepChange()" %}
                    <label class="label" style="display: none" id="wait-msg">אנא המתן...</label>
                    <br>
                    <label class="label">בחר קורסים</label>
                    <div id="options" class="result-div">
                    </div>
                    <button class="button btn-primary add-courses" id="submit_prog" value='Submit' >הוסף
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div>
        <button class="button btn-primary" type="submit">בנה מערכת שעות</button>
    </div>
{% endblock %}